#wrapper{
    width:100%;
    
    margin-left: auto;
    margin-right: auto;
}
nav{
    height:40px;
    background-color: antiquewhite;
    font-size: large;
    padding-top: 10px;
    padding-left: 30px;
}
a{
    padding-right: 1.5%;
    text-decoration: none;
   
}
ul{
    list-style-type:none;
}
body{
    width:70%;
   
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    text-align: center;

}
#main{
    width:95%;
    margin-left: auto;
    margin-right: auto;
    
}
form{
    margin-left: auto;
    margin-right: auto;
    width:45%;
    margin-top: 4%;
    background-color: lightgray;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    line-height: 2.5em;
}

#pr{
    text-align: left;
}